# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders = pd.read_csv("Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [3]:
orders.sample(5)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
307749,421240,572926,48187,2011,10,4,9,doormat new england,2,2011-10-27 09:23:00,8.25,15659,United Kingdom,16.50
318649,434352,574042,22356,2011,11,3,13,charlotte bag pink polkadot,20,2011-11-02 13:05:00,0.85,17947,United Kingdom,17.00
143143,206012,554859,22624,2011,5,5,10,ivory kitchen scales,12,2011-05-27 10:16:00,7.65,14828,United Kingdom,91.80
368191,498946,578548,23210,2011,11,4,15,white rocking horse hand painted,3,2011-11-24 15:02:00,1.25,17345,United Kingdom,3.75
305760,418775,572744,22580,2011,10,2,16,advent calendar gingham sack,7,2011-10-25 16:14:00,5.95,14085,United Kingdom,41.65

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [4]:
# your code here
orders.columns

Index(['Unnamed: 0', 'InvoiceNo', 'StockCode', 'year', 'month', 'day', 'hour',
       'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID',
       'Country', 'amount_spent'],
      dtype='object')

In [5]:
orders.shape

(397924, 14)

In [6]:
orders['CustomerID'].nunique()

4339

In [7]:
orders['amount_spent'] = orders['amount_spent'].astype(int)
orders['amount_spent'].dtype

dtype('int64')

In [8]:
customer_spend = (orders.groupby('CustomerID', as_index=False)['amount_spent'].sum())
customer_spend

      CustomerID  amount_spent
0          12346         77183
1          12347          4251
2          12348          1786
3          12349          1718
4          12350           329
...          ...           ...
4334       18280           175
4335       18281            78
4336       18282           171
4337       18283          1706
4338       18287          1815

[4339 rows x 2 columns]

In [9]:
low_q = customer_spend['amount_spent'].quantile(0.75)
high_q = customer_spend['amount_spent'].quantile(0.95)

In [11]:
vip_customers = customer_spend[(customer_spend['amount_spent'] > high_q)]
preffered_customers = customer_spend[(customer_spend['amount_spent'] >= low_q) & (customer_spend['amount_spent'] <= high_q)]

In [14]:
vip_customers.shape

(217, 2)

In [15]:
customer_spend.shape

(4339, 2)

In [16]:
conditions = [(customer_spend['amount_spent'] > high_q), 
              (customer_spend['amount_spent'] >= low_q) & (customer_spend['amount_spent'] <= high_q)]

labels = ["VIP", "Preffered"]

customer_spend["VIP/Preffered"] = np.select(conditions, labels, default="Regular")

In [18]:
customer_spend

      CustomerID  amount_spent VIP/Preffered
0          12346         77183           VIP
1          12347          4251     Preffered
2          12348          1786     Preffered
3          12349          1718     Preffered
4          12350           329       Regular
...          ...           ...           ...
4334       18280           175       Regular
4335       18281            78       Regular
4336       18282           171       Regular
4337       18283          1706     Preffered
4338       18287          1815     Preffered

[4339 rows x 3 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [19]:
# your code here
merged_cust = pd.merge(left = customer_spend, 
                       right = orders,
                       how = 'inner',
                       left_on = "CustomerID",
                       right_on = "CustomerID"
)

merged_cust

,CustomerID,amount_spent_x,VIP/Preffered,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,Country,amount_spent_y
0,12346,77183,VIP,61619,541431,23166,2011,1,2,10,medium ceramic top storage jar,74215,2011-01-18 10:01:00,1.04,United Kingdom,77183
1,12347,4251,Preffered,14938,537626,85116,2010,12,2,14,black candelabra t-light holder,12,2010-12-07 14:57:00,2.10,Iceland,25
2,12347,4251,Preffered,14939,537626,22375,2010,12,2,14,airline bag vintage jet set brown,4,2010-12-07 14:57:00,4.25,Iceland,17
3,12347,4251,Preffered,14940,537626,71477,2010,12,2,14,colour glass. star t-light holder,12,2010-12-07 14:57:00,3.25,Iceland,39
4,12347,4251,Preffered,14941,537626,22492,2010,12,2,14,mini paint set vintage,36,2010-12-07 14:57:00,0.65,Iceland,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,18287,1815,Preffered,392752,570715,22419,2011,10,3,10,lipstick pen red,12,2011-10-12 10:23:00,0.42,United Kingdom,5
397920,18287,1815,Preffered,392753,570715,22866,2011,10,3,10,hand warmer scotty dog design,12,2011-10-12 10:23:00,2.10,United Kingdom,25
397921,18287,1815,Preffered,423939,573167,23264,2011,10,5,9,set of 3 wooden sleigh decorations,36,2011-10-28 09:29:00,1.25,United Kingdom,45
397922,18287,1815,Preffered,423940,573167,21824,2011,10,5,9,painted metal star with holly bells,48,2011-10-28 09:29:00,0.39,United Kingdom,18
397923,18287,1815,Preffered,423941,573167,21014,2011,10,5,9,swiss chalet tree decoration,24,2011-10-28 09:29:00,0.29,United Kingdom,6

In [27]:
vip_country_counts = (
    merged_cust[merged_cust['VIP/Preffered'] == 'VIP']
    .groupby('Country')['CustomerID']
    .nunique()
    .sort_values(ascending=False)
)
vip_country_counts.head()

Country
United Kingdom    177
Germany            10
France              9
Switzerland         3
Spain               2
Name: CustomerID, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [31]:
# your code here
combined_counts = (
    merged_cust[(merged_cust['VIP/Preffered'] == 'VIP') | (merged_cust['VIP/Preffered'] == 'Preffered')]
    .groupby('Country')['CustomerID']
    .nunique()
    .sort_values(ascending=False)
)
combined_counts.head()

Country
United Kingdom    930
Germany            39
France             30
Belgium            12
Switzerland         9
Name: CustomerID, dtype: int64